<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.usuario.inventorydb">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.example.usuario.inventorydb.InventoryApplication">

        <activity
            android:name="com.example.usuario.inventorydb.ui.Splash.SplashActivity"
            android:theme="@style/AppTheme1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.usuario.inventorydb.ui.login.LoginViewImpl"
            android:theme="@style/LoginTheme" />
        <activity android:name="com.example.usuario.inventorydb.ui.inventory.InventoryActivity" />
        <activity android:name="com.example.usuario.inventorydb.ui.Dashboard.DashBoardActivity" />
        <activity android:name="com.example.usuario.inventorydb.ui.Product.ProductosActivity" />
        <activity
            android:name="com.example.usuario.inventorydb.ui.Dependency.DependencyActivity"/>
        <activity
            android:name="com.example.usuario.inventorydb.ui.Sector.SectorActivity"
            android:theme="@style/AppTheme1" />
        <activity android:name="com.example.usuario.inventorydb.ui.Setting.GeneralSettingActivity" />
        <activity android:name="com.example.usuario.inventorydb.ui.Setting.AccountSettingActivity" />
        <activity android:name="com.example.usuario.inventorydb.ui.about.AboutActivity" />
        <activity android:name="com.example.usuario.inventorydb.ui.base.BaseActivity" />
    </application>

</manifest>